<%= simple_form_for(:session, :url => session_path,:html => {:class => 'form-horizontal' }) do |form| %>
  <%= form.input :email%>
  <%= form.input :password%>
  <div class="control-group">
    <div class="controls">
  <%= form.button :submit%>
  <%= link_to t('.sign_up'), sign_up_path ,:class=>'btn'%>
  <%= link_to t('.forgot_password'), new_password_path ,:class=>'btn'%>
    </div>
  </div>
<% end %>
