<div id='clearance' class='password-reset'>
  <h2><%= t '.title' %></h2>
  <hr/>
  <p><%= t '.description' %></p>

  <%= simple_form_for :password, :url => passwords_path,:html=>{:class => 'form-horizontal'} do |form| %>
    <%= form.input :password%>
    <div class="control-group">
      <div class="controls">
    <%= form.button :submit%>
    <%= link_to t('.sign_in'), sign_in_path,:class=>'btn' %>
    <%= link_to t('.sign_up'), sign_up_path ,:class=>'btn'%>

      </div>
    </div>
  <% end %>
</div>
