<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @gist.address %>
</p>

<p>
  <b>Extra:</b>
  <%= @gist.extra %>
</p>


<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
